executor {
  name = 'slurm'
  submitRateLimit = '1 / 60 s'
}

process {  
  queue = 'single'
  clusterOptions = '--qos=single --ntasks=1 --export=ALL,LSFM_CLUSTER_KEEP_LOCAL_SCRATCH=true'
  cpus = 1

  withName: ExpansionHunterDN {
    module = 'gcc/7.3.0:miniconda3/4.8.2:lsfm-init-miniconda/1.0.0'
  }
  
  withName: GangSTR {
    module = 'gcc/7.3.0:miniconda3/4.8.2:lsfm-init-miniconda/1.0.0'
  }

  withName: dumpSTR {
    module = 'gcc/7.3.0:miniconda3/4.8.2:lsfm-init-miniconda/1.0.0:htslib/1.10'
  }
}
